<div class="container mb-3">
    <h2 class="text-center mt-5">Registro</h2>
    <form class="w-50 m-auto mt-2 p-5 shadow">
        <input class="form-control border border-warning rounded-pill mb-3" type="text" placeholder="Nombre">
        <input class="form-control border border-warning rounded-pill mb-3" type="text" placeholder="Usuario">
        <input class="form-control border border-warning rounded-pill mb-3" type="email" placeholder="Email">
        <input class="form-control border border-warning rounded-pill mb-3" type="password" placeholder="Contraseña">
        <input class="form-control border border-warning rounded-pill mb-3" type="password" placeholder="Confirmar contraseña">

        <div class="text-center">
            <button class="btn bg-main text-light rounded-pill w-25 mt-5">Registrar</button>
        </div>
    </form>
</div>
