<div class="row g-0 bg-light">

    <div class="col-3">
        <app-sidebar></app-sidebar>
    </div>

    <div class="col-9 p-5 pt-4">
        <h1 class="fw-light">Facturar venta</h1>

        <div class="row">

            <div class="col-5 mt-3">
                <form class="mb-2">
                    <input name="customer" [(ngModel)]="customer" class="form-control me-2" type="search" placeholder="Nombre de cliente">
                    <p class="text-danger p-2" *ngIf="customerEmpty">Por favor ingrese el nombre del cliente</p>
                </form>

                <div class="billing shadow bg-white">
                    <div *ngIf="bill.length > 0" class="p-2">
                        <div *ngFor="let item of bill" class="d-flex justify-content-between p-2">
                            <div class="item-left">
                                <h5 class="fw-light">{{ item.productName }} x {{ item.amount }}</h5>
                                <p>{{ item.price | currency }}</p>
                            </div>
                            <div class="item-right">
                                <img class="" src="/assets/img/agregar-producto.png" alt="foto">
                            </div>
                        </div>

                        <button class="btn bg-success text-light" (click)="openPopup()">Facturar</button>
                        <button class="btn bg-info text-light ms-2" (click)="cleanBill()">Limpiar</button>

                        

                    </div>
                    <div *ngIf="bill.length == 0" class="p-2">
                        <p>Selecciona los productos</p>
                    </div>

                </div>

            </div>

            <div class="col-7 mt-3">
                <div class="d-flex flex-wrap justify-content-evenly products shadow mt-3 bg-white">

                    <div *ngFor="let item of filtered" class="product text-center shadow p-2 m-2">
                        <div *ngIf="item.productStock > 0">
                            <div (click)="addToBill(item)">
                                <img src="/assets/img/agregar-producto.png" alt="foto">
                                <h4>{{ item.productName }}</h4>
                                <p>{{ item.productPrice | currency}}</p>
                            </div>
                        </div>
                        <div *ngIf="item.productStock == 0">
                            <div>
                                <img src="/assets/img/agregar-producto.png" alt="foto">
                                <h4 class="text-danger">{{ item.productName }}</h4>
                                <p>{{ item.productPrice | currency}}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cliente: {{ customer }}</h4>
            </div>
            <div class="modal-body">
                <p class="fw-light">Estos son tus productos: </p>
                <div *ngFor="let item of bill" class="d-flex justify-content-between p-2">
                    <div class="item-left">
                        <h6 class="fw-light">{{ item.productName }} x {{ item.amount }}</h6>
                        <p>{{ item.price | currency }}</p>
                    </div>
                    <div class="item-right">
                        <img class="" [src]="item.img" alt="foto">
                    </div>
                </div>
                <p class="lead">Total: {{ total | currency }}</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" (click)="createBill()">Generar factura</button>
                <button type="button" class="btn btn-danger" (click)="closePopup()">Cancelar compra</button>
            </div>
        </div>
    </div>
</div>