<div>
  <ul class="bg-light nav flex-column pt-5 p-3 shadow">
    <li class="nav-item mb-4">
      <a class="nav-link text-dark" routerLink="/productos">Inventario</a>
    </li>
    <li class="nav-item mb-4">
      <a class="nav-link text-dark" routerLink="/facturas">Facturas</a>
    </li>
    <li class="nav-item mb-4">
      <a class="nav-link text-dark" routerLink="/ventas">Facturar compra</a>
    </li>

    <li class="nav-item mb-4">
      <a class="nav-link text-dark" routerLink="/empleados">Empleados</a>
    </li>


    <li class="nav-item mb-4">
      <a class="nav-link text-dark" >Cerrar sesion</a>
    </li>
  </ul>
</div>



