<div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Producto nuevo</h4>
            </div>
            <div class="modal-body">
                <form class="form-group">
                    <input name="id" [(ngModel)]="product.id" class="form-control mb-2" type="text" placeholder="Código">
                    <input name="name" [(ngModel)]="product.name" class="form-control mb-2" type="text" placeholder="Nombre del producto">
                    <input name="price" [(ngModel)]="product.price" class="form-control mb-2" type="number" placeholder="Precio $$$">
                    <input name="amoujt" [(ngModel)]="product.amount" class="form-control" type="number" placeholder="Cantidad en inventario">
                    <p class="text-danger" *ngIf="error">No se pudo agregar el producto.</p>
        

                </form>
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" (click)="addNewProduct()">Agregar</button>
                <button type="button" class="btn btn-warning" (click)="closeModal()">Cancelar</button>
            </div>
        </div>
    </div>
  </div>