<div class="d-flex">
    <div class="w-50 text-center left">
        <h3>Inicio de sesion</h3>
        <form class="form-group w-75 ms-auto me-auto p-5">
            <input class="form-control mb-2 border border-warning rounded-pill" type="text" placeholder="Usuario">
            <input class="form-control mb-5 border border-warning rounded-pill" type="text" placeholder="Password">
            <button class="btn bg-main text-light w-100 rounded-pill">Iniciar sesion</button>
        </form>
    </div>
    <div class="w-50 bg-main d-flex">
        <p class="lead display-4 text-center m-auto text-light w-25">Bienvenido a Smartbill!</p>
    </div>
</div>