<div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar producto</h4>
            </div>
            <div class="modal-body">
                <form class="form-group">
                    <h5 class="text-bold"> Código: {{ product.id }}</h5>
                    <input class="form-control mb-2" type="text" placeholder="Nombre del producto" name="name" [(ngModel)]="product.productName">
                    <input class="form-control mb-2" type="number" placeholder="Precio $$$" name="price" [(ngModel)]="product.productPrice">
                    <input class="form-control" type="number" placeholder="Cantidad en inventario" name="amount" [(ngModel)]="product.productAmount">
        
                        
                    
                </form>
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" (click)="editProduct()">Editar</button>
                <button type="button" class="btn btn-warning" (click)="closeModal()">Cancelar</button>
                <button type="submit" class="btn btn-danger" (click)="deleteProduct()">Eliminar</button>
            </div>
        </div>
    </div>
  </div>